# The labels used here are meant to be used only with CloudSnorkel's AWS account.
# We have a deployment of this construct with all the matching providers for testing.

name: self-hosted integration test

on:
  workflow_dispatch:

jobs:
  self-hosted:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            arch: X64
            runs-on: [self-hosted, linux, X64, codebuild-x64]
            docker: true
            sudo: true
          - os: linux
            arch: ARM64
            runs-on: [self-hosted, linux, codebuild, arm64]
            docker: true
            sudo: true
          - os: linux
            arch: X64
            runs-on: [self-hosted, linux, lambda, x64]
            docker: false
            sudo: false
          - os: linux
            arch: ARM64
            runs-on: [self-hosted, linux, lambda, arm64]
            docker: false
            sudo: false
          - os: linux
            arch: X64
            runs-on: [self-hosted, linux, fargate, x64]
            docker: false
            sudo: true
          - os: linux
            arch: ARM64
            runs-on: [self-hosted, linux, fargate, arm64]
            docker: false
            sudo: true
          - os: linux
            arch: X64
            runs-on: [self-hosted, linux, fargate-spot, x64]
            docker: false
            sudo: true
          - os: linux
            arch: ARM64
            runs-on: [self-hosted, linux, fargate-spot, arm64]
            docker: false
            sudo: true
          - os: linux
            arch: X64
            runs-on: [self-hosted, linux, ec2, x64]
            docker: true
            sudo: true
          - os: linux
            arch: X64
            runs-on: [self-hosted, linux, ec2-spot, x64]
            docker: true
            sudo: true
          - os: linux
            arch: ARM64
            runs-on: [self-hosted, linux, ec2, arm64]
            docker: true
            sudo: true

    runs-on: ${{ matrix.runs-on }}
    steps:
      - run: export
      - name: Check arch
        run: |
          if [ "${{ matrix.arch }}" != "${RUNNER_ARCH}" ]; then
            echo "Expected RUNNER_ARCH to be ${{ matrix.arch }} but it's $RUNNER_ARCH"
            exit 1
          fi
      - name: Checkout
        uses: actions/checkout@v3
      - run: ls -lah
      - run: sudo ls -lah
        if: ${{ matrix.sudo }}
      - name: github script
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            console.log("hello world");
      - name: git
        run: git --version
      - name: aws
        run: |
          aws --version
          aws sts get-caller-identity
      - name: gh
        run: gh --version
      - name: docker
        if: ${{ matrix.docker }}
        run: |
          echo FROM public.ecr.aws/docker/library/bash > Dockerfile
          docker build  .
          docker-compose --version
          docker compose version
      - name: custom files
        run: |
          ls /custom-file
          ls /custom-dir/FUNDING.yml

  self-hosted-windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows
            arch: X64
            runs-on: [self-hosted, windows, codebuild, x64]
            docker: false
          - os: windows
            arch: X64
            runs-on: [self-hosted, windows, fargate, x64]
            docker: false
          - os: windows
            arch: X64
            runs-on: [self-hosted, windows, ec2, x64]
            docker: true

    runs-on: ${{ matrix.runs-on }}
    steps:
      - run: |
          Get-ChildItem env:
      - name: Check arch
        run: |
          if (Compare-Object "${{ matrix.arch }}" $Env:RUNNER_ARCH) {
            Write-Host "Expected RUNNER_ARCH to be ${{ matrix.arch }} but it's $Env:RUNNER_ARCH"
            exit 1
          }
      - name: Checkout
        uses: actions/checkout@v3
      - name: ls
        run: |
          $ErrorActionPreference = 'Stop'
          ls
      - name: github script
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            console.log("hello world");
      - name: git
        run: |
          $ErrorActionPreference = 'Stop'
          git --version
      - name: aws
        run: |
          $ErrorActionPreference = 'Stop'
          aws --version
          aws sts get-caller-identity
      - name: gh
        run: |
          $ErrorActionPreference = 'Stop'
          gh --version
      - name: docker
        if: ${{ matrix.docker }}
        run: |
          $ErrorActionPreference = 'Stop'
          echo "FROM public.ecr.aws/docker/library/bash" | Out-File -encoding ASCII Dockerfile
          docker build  .
          docker-compose --version
          docker compose version
      - name: custom files
        run: |
          $ErrorActionPreference = 'Stop'
          ls /custom-file
          ls /custom-dir/FUNDING.yml
