# The labels used here are meant to be used only with CloudSnorkel's AWS account.
# We have a deployment of this construct with all the matching providers for testing.

name: self-hosted integration test

on:
  workflow_dispatch:

jobs:
  self-hosted:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            arch: X64
            label: codebuild-x64
            docker: true
          - os: linux
            arch: ARM64
            label: codebuild, arm64
            docker: true
          - os: linux
            arch: X64
            label: lambda, x64
            docker: false
          - os: linux
            arch: ARM64
            label: lambda, arm64
            docker: false
          - os: linux
            arch: X64
            label: fargate, linux, x64
            docker: false
          - os: linux
            arch: ARM64
            label: fargate, linux, arm64
            docker: false
          - os: linux
            arch: X64
            label: fargate-spot, linux, x64
            docker: false
          - os: linux
            arch: ARM64
            label: fargate-spot, linux, arm64
            docker: false

    runs-on: [self-hosted, "${{ matrix.os }}", "${{ matrix.arch }}", ${{ matrix.label }}]
    steps:
      - run: export
      - name: Check arch
        run: |
          if [ "${{ matrix.arch }}" != "${RUNNER_ARCH}" ]; then
            echo "Expected RUNNER_ARCH to be ${{ matrix.arch }} but it's $RUNNER_ARCH"
            exit 1
          fi
      - run: ls -lah
      - name: Checkout
        uses: actions/checkout@v3
      - run: ls -lah
      - name: github script
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            console.log("hello world");
      - name: git
        run: git --version
      - name: aws
        run: |
          aws --version
          aws sts get-caller-identity
      - name: gh
        run: gh --version
      - name: docker
        if: ${{ matrix.docker }}
        run: |
          echo FROM public.ecr.aws/docker/library/bash > Dockerfile
          docker build  .
          docker-compose --version
          docker compose version

  self-hosted-windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows
            arch: X64
            label: codebuild, windows, x64
            docker: false
          - os: windows
            arch: X64
            label: fargate, windows, x64
            docker: false

    runs-on: [self-hosted, "${{ matrix.os }}", "${{ matrix.arch }}", ${{ matrix.label }}]
    steps:
      - run: |
          Get-ChildItem env:
      - name: Check arch
        run: |
          if (Compare-Object "${{ matrix.arch }}" $Env:RUNNER_ARCH) {
            Write-Host "Expected RUNNER_ARCH to be ${{ matrix.arch }} but it's $Env:RUNNER_ARCH"
            exit 1
          }
      - run: ls
      - name: Checkout
        uses: actions/checkout@v3
      - run: ls
      - name: github script
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            console.log("hello world");
      - name: git
        run: git --version
      - name: aws
        run: |
          aws --version
          aws sts get-caller-identity
      - name: gh
        run: gh --version
      - name: docker
        if: ${{ matrix.docker }}
        run: |
          echo FROM public.ecr.aws/docker/library/bash > Dockerfile
          docker build  .
          docker-compose --version
          docker compose version
